/* Footer */

    #footer {
        background-color: _palette(footer-background);
        color: _palette(footer-text);

        border-top: solid _size(footer-border-height) _palette(footer-background-border);

        height: _size(footer-height) - _size(footer-border-height);

        .inner {
            padding: 40px 30px 20px;

            text-align: center;
        }
    }
