/* Header */

    #header {
        border-top: solid 3px _palette(background-border);
        line-height: 1;

        nav {
            display: none;
        }

        .inner {
            padding: 30px 50px;
            overflow: hidden;
            display: block;
            text-align: center;

            a {
                margin: 10px;
                text-align: center;
                text-decoration: none;
                color: black;

                .symbol img {
                    width: 200px;
                }
            }
        }
    }
