/* Menu */

    #menu {
        h2 {
            display: none;
        }

        ul {
            text-align: center;
            padding: 15px 0;

            li {
                width: 130px;
                border-color: #656565;

                a {
                    display: block;
                    text-align: center;
                    color: _palette(menu-text);

                    &:hover {
                        color: _palette(menu-text-hover);
                    }

                    &.selected {
                        color: _palette(menu-selected-text);

                        &:hover {
                            color: _palette(menu-selected-text-hover);
                        }
                    }
                }
            }
        }
    }
