/* Wrapper */
/* Check https://css-tricks.com/snippets/css/sticky-footer for information */

    #wrapper {
      min-height: 100%;
      margin-bottom: - _size(footer-height); 
    }

    #wrapper:after {
      content: "";
      display: block;
      height: _size(footer-height); 
    }
