/* Basic */

    // MSIE: Required for IEMobile.
    @-ms-viewport {
        width: device-width;
    }

    // Remove any default margin/padding
    * {
        margin: 0;
        padding: 0;
        font-family: _font(family);
        font-size  : _font(text-size);
        font-weight: _font(text-weight);
    }

    // Basic page size properties
    html, body {
        height: 100%;
        min-height: 100%;
        min-width: 320px;
    }

    body {
        background: _palette(background);
    }