/* Type */

    // Remove default link style
    a {
        color: inherit;
        text-decoration: none;
        text-align:inherit;
    }

    // Default title style
    h1 {
        color: _palette(h1);
        font-size: _font(h1-size);
        font-weight: _font(h1-weight);
    }

    h2 {
        color: _palette(h2);
        font-size: _font(h2-size);
        font-weight: _font(h2-weight);
    }

    .tab {
        padding-left: 10px;
    }

    .left {
        text-align: left;
    }