/* Form */

    form {
        div {
            margin: 10px 0;
        }

        span.label-tab {
            input {
                margin-right: 5px;
            }

            label {
                margin-right: 10px;
            }
        }

        .mandatory:after {
            content: ' *';
            color: red;
        }
    }