/* Section/Article */

    article {
        border-top: solid 1px _palette(article-border);
        line-height: 1;
        padding: 20px 10px;

        header {
            padding-bottom: 10px;

            ul {
                color: _palette(item-title-information);
            }
        }

        .item {
            text-align: left;
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }

            header {

                .title {
                    font-weight: bold;
                    color: black;
                }

                ul {
                    padding-top: 5px;
                    color: _palette(item-title-information);
                }
            }
        }
    }

    article > .item header .info:after {
        content: " - ";
    }

    article > .item header .info:last-child:after {
        content: "";
    }

    article > .item .count {
        font-weight: bold;
        font-size: 11pt;
        color: #2A3D75;
        padding-right: 10px;
    }

    article > .item header > a {
        color: #656565;
        text-align: center;
        text-decoration: none;
    }
